/* Thiết lập mặc định lại các padding và margin cho tất cả thẻ trong trang html */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#container
{
    position: relative;
}


#background_image{
    background-color: aqua;
    width: 100%;
    height: 100vh;
}
/*
#background_image img{
    width: 100%;
    height: 100vh; 
} */

/*Shark*/
#shark
{
	position: absolute;
	left:100px; top:400px;
	width: 200px; height: 147px;
	/* Tên của animation */
	animation-name: Shark;
	/* Thời gian thực hiện animation */
	animation-duration: 5s;
	/* Kiểu thực hiện animation */
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
	/* Trạng thái */
	animation-play-state: running;	
	transform:scaleX(-1)
}
@-webkit-keyframes Shark
{
	0%   {left:100px; top:400px;}
	10%  {left:200px; top:400px;}
	20%  {left:300px; top:400px;}
	40%  {left:400px; top:400px;}
	60%  {left:500px; top:400px;}
	90%  {left:1000px; top:400px; }
	100% {left:1100px; top:400px; }
}
/*nemo*/
#nemo{
    position: absolute;
    top: 0px;
    width: 150px;
    transform: scaleX(1);
    animation: nemo 15s ease-in-out 0s infinite;
}
#nemo img{
    width: 100%;
}
@keyframes nemo{
    0%{top:0px;right: 0px;}
    20%{top:100px;right: 60px;}
    40%{top:0px;right: 500px;}
    60%{top:0px;right: 700px;}
    80%{top:150px;right: 800px;}
    100%{top:0px;right: 1000px;}
}
/*Octopus*/
#bachtuot{
    position: absolute;
    /* top: 0px; */
    left: 20%;
    width: 150px;
    animation: bachtuot 10s ease-in-out 0s infinite;
    
}
#bachtuot img {
    width: 100%;
}
@keyframes bachtuot{
    0%{bottom: 0%;}
    20%{bottom: 20%;}
    40%{bottom: 40%;}
    60%{bottom: 50%;}
    80%{bottom: 60%;}
    100%{bottom: 90%;}
}
/*Ariel the mermaid*/
#Ariel {
    position: absolute;
	left:500px; top:900px;
	width: 250px; height: 170px;
	/* Tên của animation */
	animation-name: Ariel;
	/* Thời gian thực hiện animation */
	animation-duration: 15s;
	/* Kiểu thực hiện animation */
	animation-timing-function: ease-in-out;
	animation-iteration-count:infinite;
	/* Trạng thái */
	animation-play-state: running;	
	transform:scaleX(-1)
}
@-webkit-keyframes Ariel {
    0%   {left:100px; top:400px;}
	10%  {left:200px; top:200px;rotate: -30deg;}
	20%  {left:300px; top:50px; rotate: -20deg;}
	40%  {left:400px; top:20px; rotate: 0deg;}
	60%  {left:500px; top:-40px;rotate: 50deg;}
	90%  {left:400px; top:400px;}
	100% {left:1000px; top:400px;}
}


/*
.btn_change_bg{
    outline: none;
    border: lawngreen;
    background-color: aqua;
    cursor: pointer;
    padding: 15px;
}
*/